<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Ver Viajes</ion-title>
    <!-- Logo en la parte superior -->
    <ion-buttons slot="end">
      <ion-img src="assets/logotellevo.png" alt="Logo" style="height: 40px; width: auto;"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let viaje of viajes" (click)="seleccionarViaje(viaje)">
      <ion-label>
        <h2>{{ viaje.nombre }}</h2>
        <p>Carrera: {{ viaje.carrera }}</p>
        <p>Destino: {{ viaje.destino }}</p>
        <p>Precio: ${{ viaje.precio }}</p> 
        <p *ngIf="viaje.unidos.length > 0">Unido por: {{ viaje.unidos.join(', ') }}</p>
        <p *ngIf="viaje.unidos.length >= 4" style="color: red;">Máximo de pasajeros alcanzado.</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="viajes.length === 0">
      <ion-label>No hay viajes disponibles.</ion-label>
    </ion-item>
  </ion-list>

  
  <ion-button 
    expand="full" 
    (click)="unirseAlViaje()" 
    [disabled]="!viajeSeleccionado || viajeSeleccionado.unidos.length >= 4"
    style="--background: #FFD700;">
    Unirme al Viaje
  </ion-button>

  
  <div *ngIf="mensajeUnido" style="margin-top: 16px; color: rgb(42, 151, 42);">
    {{ mensajeUnido }}
  </div>
</ion-content>
