<ion-header>
  <ion-toolbar>
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/opciones"></ion-back-button> 
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
    <!-- Logo en la parte superior -->
    <ion-buttons slot="end">
      <ion-img src="assets/logotellevo.png" alt="Logo" style="height: 40px; width: auto;"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  
  <ion-button expand="block" (click)="changePassword()" style="--background: #FFD700;">Cambiar Contraseña</ion-button>
</ion-content>
